html * {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #f4f4f4;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.navbar a.active,
.dropdown .dropbtn.active {
  background-color: #4e4e4e;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

div.main-container {
  padding: 1px 2em;
  max-width: 870px;
  margin: 0 auto;
}

div.cart-container {
  display: flex;
  max-width: 1000px;
  margin: 30px auto;
  align-items: flex-start;
}

div.cart-container > * {
  flex: 1 auto;
}

div.cart-container .cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-basis: 100%;
}

div.cart-container .cart-items li {
  position: relative;
  background-color: #fff;
  padding: 0.1px 1em;
  border: 1px solid;
  margin-bottom: 10px;
  display: flex;
}

div.cart-container .cart-items li .item-image {
  width: 100px;
  height: 100px;
  margin-top: 1em;
  margin-right: 1em;
  background-color: gray;
}

div.cart-container .cart-items li img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 35px;
}

div.cart-container .cart-items li div.item-detail {
  width: calc(100% - 100px);
}

div.cart-container .cart-items li div.price-detail {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

div.cart-container .cart-items li div.price-detail > * {
  margin: 0;
}

div.cart-container .cart-items li div.price-detail p:first-of-type {
  flex-basis: 100%;
}

div.cart-container .cart-items li div.price-detail p:last-of-type {
  white-space: nowrap;
}

div.cart-container .cart-items li:last-of-type {
  margin-bottom: 0;
}

div.cart-container .cart-summary {
  flex-basis: 400px;
  background-color: #fff;
  border: 1px solid;
  margin-left: 10px;
  padding: 0px 1em;
}

div.cart-container .cart-summary a {
  border: 0;
  background-color: green;
  color: white;
  padding: 12px;
  margin: 0 0 10px;
  display: block;
  text-align: center;
  text-decoration: none;
}

div.cart-container .cart-summary p span,
div.cart-container .cart-summary h4 span {
  float: right;
}

form.checkout-form {
  max-width: 700px;
  margin: 0 auto;
}

form.checkout-form label {
  display: block;
  margin: 10px 0;
}

form.checkout-form input[type="text"],
form.checkout-form input[type="email"] {
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

form.checkout-form textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

form.checkout-form select {
  width: 100%;
  font-size: 20px;
}

form.checkout-form p span,
form.checkout-form h4 span {
  float: right;
}

form.checkout-form input[type="submit"] {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: block;
  margin: 15px auto 30px;
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

.center {
  text-align: center;
}

.top-50 {
  margin-top: 50px;
}

.indent {
  text-indent: 40px;
  line-height: 1.4em;
}

.business-read-more {
  margin: 40px auto;
  display: block;
  width: 189px;
  padding: 13px;
  background-color: #326ada;
  text-decoration: none;
  color: white;
  text-align: center;
}

img.center {
  margin: 30px auto;
  display: block;
}

.owner {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.owner-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 150px;
  width: 150px;
}

.owner-details {
  border: 1px solid;
  margin-left: 30px;
  padding: 0 1em;
  width: calc(100% - 150px)
}

.owner-image.kim { background-image: url('../img/kim.png') }
.owner-image.justine { background-image: url('../img/justine.png') }
.owner-image.jericho { background-image: url('../img/jericho.png') }
.owner-image.carlo { background-image: url('../img/carlo.png') }
.owner-image.albert { background-image: url('../img/albert.png') }
